/_build/
/deps/
/.nerves/
*.tar.gz
# ...but the vendored CIX driver source tarballs are build inputs
# (cix-{gpu,npu,vpu}-driver fetch them via SITE_METHOD=file; git-LFS).
!blobs/src/*.tar.gz
erl_crash.dump
.nix-mix/
.nix-hex/
build*.log
docker-build.log
build-cam*.log
archive.log
