# fw_printenv and fw_setenv configuration
#
# This is only used for storing firmware metadata on this platform. I.e. you
# don't need to use the U-Boot bootloader if you're not already using it.
# (This board boots via UEFI+GRUB; no U-Boot is involved.)
#
# The offset must match UBOOT_ENV_OFFSET in fwup.conf:
# LBA 64 * 512 = 0x8000, 16 sectors * 512 = 0x2000 (8 KB)

# Device name	Device offset	Env. size	Flash sector size	Number of sectors
/dev/rootdisk0	0x8000		0x2000		0x200			16
